h1{
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    color: #ffcb05;
    /* letter-spacing: 1px; */
  }

body{
    background-image: url("blue-wood.jpg");
    color: white;
    min-height: 100%;
}

.container{
    padding-top:5px;
}

.navbar{
    background-image: url("blue-wood.jpg");
    position: static;
    width: 100%;
    border-bottom-color: #00274c;
    border-bottom-width: 2px; 
    border-bottom-style: solid;
    z-index:1;
}

img {
    opacity: 1;
   
  }
  
  img:hover {
    opacity: .85;
    
  }


li.menu {
    list-style: none;
}
      
ul.resume{
    list-style: none;
}
      
li.resume{
    list-style: none;
    margin-top:-5px;
}
      
.resumebullet{
    margin-top: 10px;
}


.btn-success {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

footer {
    left: 0;
    bottom: 0;
    text-align: center;
    /* background-color: #666666; */
    background-image: url("trans-black-60.png");
    width: 100%;
    height: 20px;
    position: fixed;
    clear: both;
    border-top-color: #00274c; 
    border-top-width: 2px; 
    border-top-style: solid;
    font-size: 12px;
  } 