@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro'); 
/* @import url('https://fonts.googleapis.com/css?family=Gayathri'); */


.glow {
    color: #39ff14;
    text-align: right;
}

/* .glow:hover{
    background-color: yellow;
} */

